*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 p{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
 }
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
/*header*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color:rgba(31, 30, 30, 0.24);
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    min-width: 1300px;
    padding: 0 10px;
    margin-left: 1200px;
    margin-right:1200px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color:#0b0b0b;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #8e476a;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #573b47;
    font-size: 8rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: #c8c8c8;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #64364d;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
    
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #da9c9c;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #64364d;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #64364d;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/*end header*/ 

.brand h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}
#header .brand a{
    text-decoration: none;
}
.brand h1 span{
    color: #ee027c;
}

/*Hero Section*/
#hero{
    background-image: url(images/18fd5a53d328ebe4814519629b2a8e31.jpg);
    background-size: cover;
    background-position: top center;
    position: relative ;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #621039;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

.sub-hero-container button {
    color: #ac6488;
    padding: 25px 10px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #0b0b0b00;
    border: 2px solid #0b0b0b;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 20px palevioletred;
    transition: 200ms ease-in;
}
.sub-hero-container button:hover{
    background-color: #0b0b0b;
    color: palevioletred;
    font-size: 22px;
    animation: myhover infinite ease-in;
}

/*End of Hero Section*/

/*Biography Section*/
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    transition: 200ms ease-in;
}
#services .service-top{
    width: 10000px;
    max-margin: 0 auto;
}
#services .section-title span{
    color: #621039;
}
#services .service-top p{
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    font-size: large;
    color: #a288a2;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 200;
    border-radius: 20px;
    background-image: url(./images/6fa1a8f16e8d0689794e059d239e0751.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
#services .service-item h2{
    font-size: 2rem;
    color: rgb(180, 120, 110);
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}


/*end Biography Section*/

/*albums section*/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: #c8c8c8;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    color: #431a2e;
    transition: 200ms ease-in;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(140, 55, 32);
}
#projects .project-imge{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-imge::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .6;
}
#projects .project-imge img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-imge img{
    transform: scale(1.1);
}

/*end albums section*/

/*about section*/ 
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#about .col-left{
    width: 250px;
    height: 360px;
    
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rems;
    margin-bottom: 20px;
}
#about .col-right p{
    margin-bottom: 20px;
    letter-spacing: 10;

}
.col-right button {
    color: #ac6488;
    padding: 25px 10px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #0b0b0b00;
    border: 2px solid #0b0b0b;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 20px palevioletred;
    transition: 200ms ease-in;
}
.col-right button:hover{
    background-color: #0b0b0b;
    color: palevioletred;
    font-size: 22px;
    animation: myhover infinite ease-in;
}
#about .col-right .cta{
    margin-bottom: 50px;
    padding: 10px 30px;
    font-size: 2rem;
}
#about .col-left .about-imge {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-imge::after {
    content: '';
    position: absolute;
    left: -35px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid rgb(140, 55, 32);
    z-index: -1;
}
/*end about section*/

/*contact section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width:90%;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-size: 500;
    margin-bottom: 10px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;

}
/*end contact section*/

/*footer*/
#footer {
    background-image:linear-gradient(to top, rgb(138, 25, 138) 0%, rgb(158, 74, 109) 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer .footer h3{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer p{
    color: #c8c8c8;
    font-size: 1.3rem;
}
/*end footer*/

/*Keyframes*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #ac6488;
        font-weight: 500;
    }
}
/*End of Keyframes*/

/*Media query for tablet*/
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    /*hero*/
    #hero h1{
        font-size: 7rem;
    }
    /*end hero*/

    /*service*/
    #services .service-bottom .service-item{
        flex-basis: 100%;
    }
    /*end service*/

    /*project*/
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 480px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-imge{
        height: 100%;
    }
    /*end project*/

    /*about*/
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-imge::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid rgb(140, 55, 32);
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    /*end about*/

    /*contact*/
    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /*end contact*/
}
/*End of Media query for tablet*/

/*media query for desktop*/
@media only screen and (min-width:1200px) {
    /*header*/
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    /*end header*/
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}

@media only screen and (max-width: 768px){
    #header .nav-bar a {
        position: relative;
        left: 400px;
    }
    #header .nav-bar .hamburger {
        position: relative;
        right: 400px;
    }
    
}

/*end media query for desktop*/
